@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: Gosha Sans;
  font-weight: normal;
  src: url(/Fonts/PPGoshaSans-Regular.otf);
}

body{
  font-family: "Roboto";
  color: #1C294DCC; 
}

.display-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Header style start */

  /* Header items style start */
.header-above-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 703px;
  margin-left: 706px;
  height: 51px;
}

.header-above-items div div{
  display: flex;
  flex-wrap: wrap;
  margin-right: 29px;
  align-items: center;
  color: #1C294DCC;
}

.header-above-items div div div a{
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color:#1C294DCC;
}

.header-above-right div a{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-above-items div div div a:hover{
  color:#FF7A00;
  font-size: 14px;
}

.city:first-child{
  gap: 9px;
}
.above-left-items div:nth-child(2){
  gap: 9px
}
.above-left-items div:last-child{
  gap: 8px
}
.address{
  margin-left: 30px;
}

.email{
  gap: 7px;
}
.number{
  gap: 5px;
  margin-left: 3px;
}
.information{
  margin-left: 5px;
}


.header-above-items div div:nth-last-child(2),
.header-above-items div div:last-child{
  margin-right: 0;
}
/* Header items style end */

  /* Header nav style start */
.border-conteiner{
  border-top: 1px solid #DFE0E1;
  width: 100%;
}

.header-center-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 673px;
  margin-left: 702px;
  margin-top: 20px;
}

.header-center-nav div{
  display: flex;
  flex-wrap: wrap;
}

.nav-center-right-items div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 30px;
  gap: 6px;
}

.nav-center-right-items div:first-child{
  gap: 10px;
}

.nav-center-left-items div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 30px;
}

.nav-center-right-items div a{
  text-decoration: none;
  color:#1C294DCC;
  font-size: 14px;
}

.nav-center-right-items div a:hover{
  color: #FF7A00;
}

.inp-nav{
  border: 1px solid #DFE0E1;
  height: 38px;
  width: 449px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0;
  padding-left: 15px;
}

.inp-nav:hover{
  border: 1px solid #FF7A00;
}

.inp-nav::placeholder{
  color: #1C294D80;
  font-size: 14px;
  line-height: 20px;
}

.nav-button{
  border: 0;
  color: white;
  background-color: #FF7A00;
  height: 40px;
  width: 123px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0;
}

.nav-button a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 20px;
}

.search {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  justify-content: center;
}

.search img{
  width: 20px;
  height: 20px;
}

.cart-count{    /* Счетчик корзины  */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color:#FF7A00;
  color: white;
  height: 13px;
  width: 13px;
  bottom: 10px;
  left: 32px;
  padding: 1px 1px;
  font-size: 9px;
  border-radius: 100%;
}
/* Header nav style end */  

  /* Navbar things down style start */

.navbar-things-down{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 26px;
  margin-left: 701px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-things-down a{
  text-decoration: none;
  color:#1C294DCC;
  font-size: 14px;
}

.navbar-things-down a:hover{
  color: #FF7A00;
}


.navbar-things-down ul{
  list-style-type: none;  
}

.catalog{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.sale{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.sale a{
  color: #FF283D;
}
.sale a:hover{
  color: #ff001954;
}

.img{
  fill: #FF7A00;
}
  /* Navbar things down style end */  
/* Header style end */

/*---------------------------------------------------*/
/* Main style start */
main{
  background-color: rgb(250, 250, 250);
  padding-top: 30px;
}

/* Slider style start */
.slider{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 750px;
  height: 350px;
  background-color:#CCFF90;
  border-radius: 5px;
  grid-column: span 2;
}

.slider-two-eq-tree{
  width: 165.69px;
  height: 72.32px;
  margin-top: 121px;
}

.slider-all-book{
  width: 165.63px;
  height: 15.95;
  margin-top: 15px;
  padding-top: 0;
}

.slider-page-marker{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 20px;
  gap: 5px;
  height: 2px;
  width: 100%;
}

.arrow-left-box,
.arrow-right-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 90px;
  height: 90px;
}

.arrow-left{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(250, 250, 250);
  border-radius: 5px ;
}

.arrow-right{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(250, 250, 250);
  border-radius: 5px ;
}
/* Slider end */

  /* Book of day card start */
.book-day-card{
  background-color: white;
  width: 360px;
  height: 520px;
  border-radius: 5px;
  /* margin-right: 640px; */
  grid-row: span 3;
}

.book-day-card-header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.book-day-card-header span{
  font-size: 16px;
  line-height: 20px;
}

.book-day-card-timer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  color:#FF7A00;
  width: 68px;
  height: 25px;
  border-radius: 5px;
  background-color: #FF7A0026;
}

.book-day-card-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.book-day-card-inf{
  margin-top: 13px;
}

.book-day-card-inscr-cor-law{
  color: rgba(28, 41, 77, 0.5);
  font-size: 12px;
  margin-left: 20px;
}
.book-day-card-descrip{
  color: #1C294D;
  font-size: 14px;
  line-height: 19px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 7px;

}

.book-day-card-name{
  color: #1C294D;
  font-size: 12px;
  margin-left: 20px;
}

.book-day-card-price{
  color: #1C294D;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 7px;
  font-weight: bold;
}

.book-day-card-items{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 20px;
  gap: 10px;
}

.book-day-card-basket{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 146px;
  height: 40px;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}

.book-day-card-basket div{
  font-size: 14px;
  margin-left: 10px;
}

.book-day-card-bookmark {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}
/* Book of day card style end */

  /* Banner card style start */
.grid-conteiner{
  display: grid;
  width: 500px;
  grid-template-columns: auto auto auto;
  color: #1C294D;
  gap: 30px;
  margin-right: 640px;
  margin-left: 701px;
}

.left-banner-card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 360px;
  height: 140px;
  border-radius: 5px;
  background-color: #6D378F;
  font-family: "Gosha Sans";
  font-size: 20px;
  color: white;
}

.left-banner-text{
  margin-left: 25px;
  margin-right: 13px;
  position: relative;
}

.orange-line{
  position: absolute;
  z-index: 0;
  margin-left: 15px;
  margin-bottom: 45px;
}

.right-banner-card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 360px;
  height: 140px;
  border-radius: 5px;
  background-color: #FFD8EF;
  font-family: "Gosha Sans";
  font-size: 20px;
  color: #1C294DCC;
}

.right-banner-text{
  margin-left: 25px;
  margin-right: 23px;
  position: relative;
}

.green-line{
  position: absolute;
  z-index: 0;
  margin-top: 52px;
  margin-left: 48px;
}
/* Banner card style end */

  /* Book card style start */
.title-book-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 701px;
  margin-left: 701px;
  background-color: white;
  
}

.title-book-card p{
  font-size: 20px;
  line-height: 20px;
  color: #1C294D;
  margin-left: 25px;
  font-weight: bold;
}

.arrow-page-slider{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 61px;
  height: 30px;
  border: 1px solid #1C294D26;
  border-radius: 5px;
  margin-right: 25px;
}

.arrow-right-page-slider,
.arrow-left-page-slider{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.arrow-right-page-slider{
  border-right: 1px solid #1C294D26;
}

.card-book{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 1141px;
}

.book{
  position: relative;
  width: 283.8px;
  height: 460px;
  border: 1px solid #1C294D26;
  border-left-color: white;
  background-color: white;
}

.first-book{
  margin-left: 701px;
}

.fourth-book{
  border-right: 0;
}

.book img{
  margin-top: 25px;
  margin-left: 62px;
}

.best-seller{
  position: absolute;
  width: 86px;
  height: 25px;
  border-radius: 5px;
  background: #EEE9F7;
  margin: 0 auto;
  color: #AC8EE3;
  font-size: 12px;
  line-height: 15px;
  margin: 20px 20px;
}

.book-card-promotion{
  position: absolute;
  width: 54px;
  height: 25px;
  border-radius: 5px;
  background: #FFEEEE;
  margin: 0 auto;
  color: #FF4F52;
  font-size: 12px;
  line-height: 15px;
  margin: 55px 20px;
}

.new-book{
  position: absolute;
  width: 70px;
  height: 25px;
  border-radius: 5px;
  background: #E2F6EC;
  margin: 0 auto;
  color: #3DC47E;
  font-size: 12px;
  line-height: 15px;
  margin: 20px 20px;
}

.book-cor-law{
  line-height: 15px;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 14px;
  color: #1C294D80;
}

.book-title{
  font-size: 14px;
  line-height: 19px;
  margin-left: 20px;
  margin-top: 8px;
  color: #1C294D;
  font-weight: bold;
} 

.book-autor-name{
  font-size: 12px;
  line-height: 15px;
  margin-left: 20px;
  margin-top: 8px;
  color: #31384b;
}

.book-price{
  font-size: 18px;
  line-height: 20px;
  margin-left: 20px;
  margin-top: 8px;
  font-weight: bold;
  color: #1C294D;
}

.book-stat{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.book-raiting{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4.25px;
  width: 52px;
  height: 25px;
  border-radius: 5px;
  margin-left: 20px;
  background-color: #fff0cf;
}
.book-raiting img{
  margin-top: 0;
  margin-left: 0;
}
.num-raiting{
  color: #FBC02D;
  font-size: 12px;
  line-height: 13px;
}

.book-likes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 144px;
  height: 25px;
  border-radius: 5px;
  margin-right: 30px;
  background-color: #dfe5ffcc;
}

.likes-inform{
  font-size: 12px;
  line-height: 12px;
  color: #7986CB;
}

.book-likes img{
  margin-top: 0;
  margin-left: 0;
}

.book-card-items{
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 20px;
}

.basket-button{
  width: 146px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #EEEEEE;
  gap: 5px;
}

.basket-button img{
  margin-top: 0;
  margin-left: 0;
}

.button-words{
  font-size: 14px;
  line-height: 15px;
  color: #1C294D;
  line-height: bold;
}

.bookmark-button{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #EEEEEE;
  margin-right: 40px;
}

.bookmark-button img{
  margin-top: 0;
  margin-left: 0;
}

.orange-book-raiting{
  width: 52px;
  height: 25px;
  border-radius: 5px;
  background-color: #ffecd9;
  margin-left: 20px;
  gap: 5px;
}

.orange-num-raiting{
  color: #FFA34D;
  font-size: 12px;
  line-height: 12px;
}

.orange-book-raiting img{
  margin-top: 0;
  margin-left: 0;
}

.book-price-promotion{
  justify-content:flex-start;
  align-items: flex-end;
  margin-top: 8px;
  gap: 7px;

}

.red-book-price{
  color: #FD3A3A;
  font-size: 18px;
  line-height: 20px; 
  font-weight: bold;
}

.cross-out-book-price{
  font-size: 12px;
  line-height: 15px;
  color: #1C294D80;

  text-decoration: line-through;
  text-decoration-color:#FD3A3A;
}

.green-benefit-book-price{
  font-size: 12px;
  line-height: 14px;
  color: #0DB98C;
}

.show-all-book{
  font-size: 14px;
  line-height: 20px;
  color: #1C294D;
  width: 1142px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  margin-left: 701px;
}
/* Book card style end */

  /* Banner style start */
.banner{
  position: relative;
  z-index: 1;
  width: 1142px;
  height: 105px;
  border-radius: 5px;
  background-color: #0288D1;
  margin-left: 701px;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 14px;
}

.banner-text{
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 20px;
  color: white;
}

.banner-text img{
  position: absolute;
  z-index: 0;
}

.banner-input {
  gap: 10px;
}

.banner-input input{
  width: 418px;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #FFFFFF;
}

.banner-left::placeholder{
  color: #1C294D80;
}

.banner-button{
  width: 137px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #0288D1;
  border: 1px solid #FFFFFF
}
/* Banner style end */

/* Shop inform style start */
.box{
  width: 263px;
  height: 150px;border-radius: 5px;
  background-color: white;
  justify-content: flex-end;
  margin-right: 25px;
}
.box img{
  position: absolute;
  z-index: 0;
  margin-top: 0;
  margin-right: 0;


}

.grid-box-shop-inform{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  gap: 30px;
  width: 1142px;
  margin-left: 701px;
}

.box-text{
  position: relative;
  font-size: 12px;
  line-height: 19px;
  color: #727272;
  width: 153px;
  height: 66px;
  margin-right: 1px;
}

.bonus-program-text{
  width: 160px;
}

.box-text div:first-child{
  font-size: 16px;
  line-height: 25px;
  color: #1C294D;
  font-weight: bold;
  margin-bottom: 5px;
}
/* Shop inform style end */

/* Main style end */
/*---------------------------------------------------*/

