@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: "Roboto";
  color: #1C294DCC; 
}

/* Header style start */

  /* Header items style start */
.header-above-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 599px;
  margin-right: 600px;
  height: 51px;
}

.header-above-items div div{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;   
  margin-right: 29px;
  align-items: center;
  color: #1C294DCC;
}
.header-above-items div div div a{
  text-decoration: none;
  font-size: 14px;
  color:#1C294DCC;
}

.header-above-items div div div a:hover{
  color:#FF7A00;
}

.address{
  margin-left: 30px;
}

.header-above-items div div:nth-last-child(2),
.header-above-items div div:last-child{
  margin-right: 0;
}

.cart-count{                  /* Счетчик корзины  */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color:#FF7A00;
  color: white;
  height: 15px;
  width: 15px;
  top: 81px;
  padding: 1px 1px;
  font-size: 12px;
  left: 1867px;
  border-radius: 100%;
}

/* Header items style end */

  /* Header nav style start */
.border-conteiner{
  border-top: 1px solid #DFE0E1;
  width: 100%;
}

.header-center-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 577px;
  margin-left: 597px;
  margin-top: 20px;
}

.header-center-nav div{
  display: flex;
  flex-wrap: wrap;
}

.nav-center-right-items div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 30px;
  gap: 5px;
}

.nav-center-left-items div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 30px;
}

.nav-center-right-items div a{
  text-decoration: none;
  color:#1C294DCC;
}

.nav-center-right-items div a:hover{
  color: #FF7A00;
}

.inp-nav{
  border: 1px solid #FF7A00;
  height: 38px;
  width: 573px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0;
}

.inp-nav::placeholder{
  padding-left: 15px;
}

.inp-nav input[type=text]{
  padding-left: 15px;
  height:24px;
  font-size: 15px;
}


.nav-button{
  border: 0;
  color: white;
  background-color: #FF7A00;
  height: 40px;
  width: 123px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0;
}

.nav-button a{
  text-decoration: none;
  color: white;
}

.search {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  justify-content: center;
}

.search img{
  width: 20px;
  height: 20px;
}
/* Header nav style end */  

  /* Navbar things down style start */

.navbar-things-down{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 597px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-things-down a{
  text-decoration: none;
  color:#1C294DCC;
}

.navbar-things-down a:hover{
  color: #FF7A00;
}


.navbar-things-down ul{
  list-style-type: none;  
}

.catalog{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.sale{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.sale a{
  color: #FF283D;
}
.sale a:hover{
  color: #ff001954;
}

.img{
  fill: #FF7A00;
}
  /* Navbar things down style end */  
/* Header style end */

/*---------------------------------------------------*/
/* Main style start */
main{
  background-color: rgb(250, 250, 250);
  padding-top: 30px;
}

.main-promotion{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  color: #1C294D;
}

/* Slider style start */
.slider{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  height: 350px;
  background-color:#CCFF90;
  margin-left: 600px;
  border-radius: 5px;
}

.slider-two-eq-tree{
  width: 165px;
  height: 72px;
}

.slider-all-book{
  width: 165px;
  color: #263238;
  font-size: 28px;
  margin-top: -10px;
  padding-top: 0;
  font-weight: bold;
}

.slider-page-marker{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  height: 2px;
  width: 100%;
}

.arrow-left-box,
.arrow-right-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
}

.arrow-left{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(250, 250, 250);
  border-radius:10px ;
}

.arrow-right{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(250, 250, 250);
  border-radius:10px ;
}
/* Slider end */

  /* Book of day card start */
.book-day-card{
  background-color: white;
  width: 360px;
  height: 520px;
  border-radius: 5px;
}

.book-day-card-header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
  margin-left: 20px;
  margin-right: 20px;
}

.book-day-card-header span{
  font-size: 16px;
  line-height: 20px;
}

.book-day-card-timer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  color:#FF7A00;
  width: 68px;
  height: 25px;
  border-radius: 5px;
  background-color: #FF7A0026;
}

.book-day-card-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.book-day-card-inscr-cor-low{
  color: rgba(28, 41, 77, 0.5);
  font-size: 12px;
  margin-left: 20px;
  margin-top: 15px;
}
.book-day-card-descrip{
  color: #1C294D;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 8px;
  font-weight: bold;
}

.book-day-card-name{
  color: #1C294D;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 8px;
}

.book-day-card-price{
  color: #1C294D;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 8px;
  font-weight: bold;
}

.book-day-card-items{
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-left: 20px;
  gap: 10px;
}

.book-day-card-basket{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 146px;
  height: 40px;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}

.book-day-card-basket div{
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}

.book-day-carfd-bookmark {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}
/* Book of day card style end */

/* Main style end */
/*---------------------------------------------------*/