@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: Gosha Sans;
  font-weight: normal;
  src: url(/Fonts/PPGoshaSans-Regular.otf);
}

body{
  font-family: "Roboto";
  color: #1C294DCC; 
  background-color: rgb(250, 250, 250);
  margin: 0;
}

a{
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color:#1C294DCC;
}

.display-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Header style start */

  /* Header items style start */
    /* Верхняя часть шапки сайта */
header{background-color: white;}

.header-above-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1142px;
  margin-left: 701px;
  height: 51px;
}

.header-above-items div div{
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  align-items: center;
  color: #1C294DCC;
  gap: 5px;
}

.address{margin-left: 30px;}

.busket div{margin-left: 0;}

.header-above-items div div div a:hover{
  color:#FF7A00;
  font-size: 14px;
}

.header-above-items div div:nth-last-child(2),
.header-above-items div div:last-child{margin-right: 0;}

  /* Верхняя часть шапки сайта */
/* Header items style end */

  /* Header nav style start */
.border-conteiner{border-top: 1px solid #DFE0E1;}

.header-center-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  width: 1142px;
  margin-left: 701px;

}

.header-center-nav div{
  display: flex;
  flex-wrap: wrap;
}

.nav-center-right-items div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 30px;
  gap: 6px;
}

.nav-center-right-items div:first-child{gap: 10px;}

.nav-center-left-items div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 30px;
}

.nav-center-right-items div a{
  text-decoration: none;
  color:#1C294DCC;
  font-size: 14px;
}

.nav-center-right-items div a:hover{color: #FF7A00;}

.inp-nav{
  border: 1px solid #DFE0E1;
  height: 38px;
  width: 449px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0;
  padding-left: 15px;
}

.inp-nav:hover{border: 1px solid #FF7A00;}

.inp-nav::placeholder{
  color: #1C294D80;
  font-size: 14px;
  line-height: 20px;
}

.nav-button{
  border: 0;
  color: white;
  background-color: #FF7A00;
  height: 40px;
  width: 123px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0;
}

.nav-button a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 20px;
}

.search {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  justify-content: center;
}

.search img{
  width: 20px;
  height: 20px;
}

.cart-count{    /* Счетчик корзины  */
  position: absolute;
  background-color: #FF7A00;
  color: white;
  height: 13px;
  width: 13px;
  padding: 1px 1px;
  font-size: 9px;
  border-radius: 100%;   
  top: 75px;
  right: 772px;


}
/* Header nav style end */  

  /* Navbar things down style start */

.navbar-things-down{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 26px;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 1142px;
  margin-left: 701px;
}

.navbar-things-down a{
  text-decoration: none;
  color:#1C294DCC;
  font-size: 14px;
}

.navbar-things-down a:hover{color: #FF7A00;}


.navbar-things-down ul{list-style-type: none;  }

.catalog{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.sale{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.sale a{color: #FF283D;}

.sale a:hover{color: #ff001954;}

.img{fill: #FF7A00;}
  /* Navbar things down style end */  
/* Header style end */

/*---------------------------------------------------*/
/* Main style start */
main{
  background-color: rgb(250, 250, 250);
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Slider style start */
.slider{
  height: 350px;
  background-color:#CCFF90;
  border-radius: 5px;
  grid-column: span 2;
}

.slider-flexbox{
  justify-content: space-between;
  align-content: center;
  margin-top: 121px;
}

.slider-two-eq-tree{
  width: 165.69px;
  height: 72.32px;
}

.slider-all-book{
  width: 165.63px;
  height: 15.95;
  margin-top: 15px;
  padding-top: 0;
}

.slider-page-marker{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
  height: 2px;
  width: 100%;
  margin-top: 98.21px;
}

.arrow-left-box,
.arrow-right-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
}

.arrow-left{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(250, 250, 250);
  border-radius: 5px ;
}

.arrow-right{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(250, 250, 250);
  border-radius: 5px ;
}
/* Slider end */

  /* Book of day card start */
.book-day-card{
  background-color: white;
  width: 360px;
  height: 520px;
  border-radius: 5px;;
  grid-row: span 3;
}

.book-day-card-header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.book-day-card-header span{
  font-size: 16px;
  line-height: 20px;
}

.book-day-card-timer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  color:#FF7A00;
  width: 68px;
  height: 25px;
  border-radius: 5px;
  background-color: #FF7A0026;
}

.book-day-card-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.book-day-card-inf{margin-top: 13px;}

.book-day-card-inscr-cor-law{
  color: rgba(28, 41, 77, 0.5);
  font-size: 12px;
  margin-left: 20px;
}
.book-day-card-descrip{
  color: #1C294D;
  font-size: 14px;
  line-height: 19px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 7px;

}

.book-day-card-name{
  color: #1C294D;
  font-size: 12px;
  margin-left: 20px;
}

.book-day-card-price{
  color: #1C294D;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 7px;
  font-weight: bold;
}

.book-day-card-items{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 20px;
  gap: 10px;
}

.book-day-card-basket{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 146px;
  height: 40px;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}

.book-day-card-basket div{
  font-size: 14px;
  margin-left: 10px;
}

.book-day-card-bookmark {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}
/* Book of day card style end */

  /* Banner card style start */
.grid-conteiner{
  display: grid;
  width: 500px;
  grid-template-columns: auto auto auto;
  color: #1C294D;
  gap: 30px;
  margin-left: 701px;
}

.left-banner-card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 360px;
  height: 140px;
  border-radius: 5px;
  background-color: #6D378F;
  font-family: "Gosha Sans";
  font-size: 20px;
  color: white;
}

.left-banner-text{
  margin-left: 25px;
  margin-right: 13px;
  position: relative;
}

.orange-line{
  position: absolute;
  z-index: 0;
  margin-left: 15px;
  margin-bottom: 45px;
}

.right-banner-card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 360px;
  height: 140px;
  border-radius: 5px;
  background-color: #FFD8EF;
  font-family: "Gosha Sans";
  font-size: 20px;
  color: #1C294DCC;
}

.right-banner-text{
  margin-left: 25px;
  margin-right: 23px;
  position: relative;
}

.green-line{
  position: absolute;
  z-index: 0;
  margin-top: 52px;
  margin-left: 48px;
}
/* Banner card style end */

  /* Book card style start */
.title-book-card{
  display: flex;
  flex-wrap: wrap;
  width: 1142px;
  justify-content: space-between;
  align-items: center;
  margin-left: 701px;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.title-book-card p{
  font-size: 20px;
  line-height: 20px;
  color: #1C294D;
  margin-left: 25px;
  font-weight: bold;
}

.arrow-page-slider{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 61px;
  height: 30px;
  border: 1px solid #1C294D26;
  border-radius: 5px;
  margin-right: 25px;
}

.arrow-right-page-slider,
.arrow-left-page-slider{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.arrow-right-page-slider{
  border-right: 1px solid #1C294D26;
}

.card-book{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 1141px;
}

.book{
  position: relative;
  width: 283.8px;
  height: 460px;
  border: 1px solid #1C294D26;
  border-left-color: white;
  background-color: white;
}

.first-book{margin-left: 701px;}

.fourth-book{border-right: 0;}

.book img{
  margin-top: 25px;
  margin-left: 62px;
}

.best-seller{
  position: absolute;
  width: 86px;
  height: 25px;
  border-radius: 5px;
  background: #EEE9F7;
  margin: 0 auto;
  color: #AC8EE3;
  font-size: 12px;
  line-height: 15px;
  margin: 20px 20px;
}

.book-card-promotion{
  position: absolute;
  width: 54px;
  height: 25px;
  border-radius: 5px;
  background: #FFEEEE;
  margin: 0 auto;
  color: #FF4F52;
  font-size: 12px;
  line-height: 15px;
  margin: 55px 20px;
}

.new-book{
  position: absolute;
  width: 70px;
  height: 25px;
  border-radius: 5px;
  background: #E2F6EC;
  margin: 0 auto;
  color: #3DC47E;
  font-size: 12px;
  line-height: 15px;
  margin: 20px 20px;
}

.book-cor-law{
  line-height: 15px;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 14px;
  color: #1C294D80;
}

.book-title{
  font-size: 14px;
  line-height: 19px;
  margin-left: 20px;
  margin-top: 8px;
  color: #1C294D;
  font-weight: bold;
} 

.book-autor-name{
  font-size: 12px;
  line-height: 15px;
  margin-left: 20px;
  margin-top: 8px;
  color: #31384b;
}

.book-price{
  font-size: 18px;
  line-height: 20px;
  margin-left: 20px;
  margin-top: 8px;
  font-weight: bold;
  color: #1C294D;
}

.book-stat{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.book-raiting{
  flex-wrap: nowrap;
  gap: 4.25px;
  width: 52px;
  height: 25px;
  border-radius: 5px;
  margin-left: 20px;
  background-color: #fff0cf;
}
.book-raiting img{
  margin-top: 0;
  margin-left: 0;
}
.num-raiting{
  color: #FBC02D;
  font-size: 12px;
  line-height: 13px;
}

.book-likes{
  gap: 5px;
  width: 144px;
  height: 25px;
  border-radius: 5px;
  margin-left: 20px;
  background-color: #dfe5ffcc;
}

.likes-inform{
  font-size: 12px;
  line-height: 12px;
  color: #7986CB;
}

.book-likes img{
  margin-top: 0;
  margin-left: 0;
}

.book-card-items{
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 20px;
}

.basket-button{
  display: flex;
  width: 146px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #EEEEEE;
  gap: 5px;
}

.basket-button img{
  margin-top: 0;
  margin-left: 0;
}

.button-words{
  font-size: 14px;
  line-height: 15px;
  color: #1C294D;
  line-height: bold;
}

.bookmark-button{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #EEEEEE;
  margin-right: 40px;
}

.bookmark-button img{
  margin-top: 0;
  margin-left: 0;
}

.orange-book-raiting{
  width: 52px;
  height: 25px;
  border-radius: 5px;
  background-color: #ffecd9;
  margin-left: 20px;
  gap: 5px;
}

.orange-num-raiting{
  color: #FFA34D;
  font-size: 12px;
  line-height: 12px;
}

.orange-book-raiting img{
  margin-top: 0;
  margin-left: 0;
}

.book-price-promotion{
  justify-content:flex-start;
  align-items: flex-end;
  margin-top: 8px;
  gap: 7px;

}

.red-book-price{
  color: #FD3A3A;
  font-size: 18px;
  line-height: 20px; 
  font-weight: bold;
}

.cross-out-book-price{
  font-size: 12px;
  line-height: 15px;
  color: #1C294D80;

  text-decoration: line-through;
  text-decoration-color:#FD3A3A;
}

.green-benefit-book-price{
  font-size: 12px;
  line-height: 14px;
  color: #0DB98C;
}

.show-all-book{
  font-size: 14px;
  line-height: 20px;
  color: #1C294D;
  width: 1142px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  margin-left: 701px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* Book card style end */

  /* Banner style start */
.banner{
  width: 1142px;
  height: 105px;
  border-radius: 5px;
  background-color: #0288D1;
  margin-left: 701px;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 14px;
  position: relative;
}

.banner-text{
  position: relative;
  font-size: 18px;
  line-height: 20px;
  color: white;
}

.banner-lil-orange-line{
  position: absolute;
  z-index: 0;
  margin-right: 890px;
 }

.banner-input {gap: 10px;}

.banner-input input{
  width: 418px;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #FFFFFF;
}

.banner-left::placeholder{color: #1C294D80;}

.banner-button{
  width: 137px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #0288D1;
  border: 1px solid #FFFFFF
}
/* Banner style end */

/* Shop inform style start */
.grid-box-shop-inform{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  gap: 30px;
  width: 1142px;
  margin-left: 701px;
  margin-bottom: 30px;
}

.box{
  width: 263px;
  height: 150px;
  border-radius: 5px;
  background-color: white;
  justify-content: flex-end;
}

.box img{
  position: absolute;
  z-index: 0;
  margin-top: 0;
  margin-right: 0;
}

.box-text{
  position: relative;
  font-size: 12px;
  line-height: 19px;
  color: #727272;
  width: 153px;
  height: 66px;
  margin-right: 12px;
}

.bonus-program-text{width: 160px;}

.box-text div:first-child{
  font-size: 16px;
  line-height: 25px;
  color: #1C294D;
  font-weight: bold;
  margin-bottom: 5px;
}

.fast-delivery img{margin-right: 154px;}

.secure-pay img{margin-right: 164px;}

.bonus-program img{margin-right: 160px;}

.large-selection img{
  margin-right: 144px;
  margin-bottom: 10px;
}
/* Shop inform style end */

  /* News cards style start */
.grid-news-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1142px;
  margin-left: 701px;
  background-color: white;
  border-top: 1px solid #1C294D26;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.grid-news-cards div img{
  margin-top: 25px;
  border-radius: 5px;
}

.first-news-card div,
.first-news-card button,
.first-news-card img{margin-left: 20px;}

.second-news-card div,
.second-news-card button,
.second-news-card img{margin-left: 30.335px;}

.third-news-card div,
.third-news-card button,
.third-news-card img{margin-left: 40.67px;}

.third-news-card, 
.second-news-card{border-left: 1px solid #1C294D26;}

.news-card-date{
  width: 320px;
  margin-top: 15px;
  font-size: 12px;
  line-height: 15px;
  color: #1C294D80;
}
.card-news-title{
  width: 320px;
  margin-top: 6px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #1C294D;
}
.card-news-discription{
  width: 320px;
  margin-top: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #1C294D;
}
.read-button{
  width: 180px;
  height: 40px;
  border: 1px solid #1C294D26;
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: 25px;
  background-color: white;
  font-size: 14px;
  line-height: 20px;
  color: #1C294D;
}
/* News cards style start */
.footer-div-background-color{background: #2029320a;}

.footer-div{
  width: 1142px;
  margin-left: 701px;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-input input{
  width: 443px;
  height: 40px;
  padding-left: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #282F3626;
}

.footer-input button{
  width: 50px;
  height: 44px;
  border: 0;
  background-color: #FF5C00;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.links{gap: 15px;}
  
.footer-items{background-color: white;}

.title-footer-items{
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 701px;
  gap: 30px;
  padding-top: 45px;
}

.foot-title-buyers,
.foot-title-publish,
.foot-title-books,
.foot-title-price-list,
.foot-title-contacts,
.first-foot-column,
.second-foot-column,
.third-foot-column,
.fourth-foot-column,
.fift-foot-column{width: 165px;}

.title-footer-items span{
  font-size: 14px;
  line-height: 20px;
  color: #1C294D;
  font-weight: bold;
}

.foot-columns{
  justify-content: flex-start;
  margin-left: 701px;
  gap: 30px;
  margin-top: 45px;
}

.foot-column{
  width: 165px;
  margin-top: 25px;
  font-size: 14px;
  line-height: 20px;
  color: #1C294D;
}

.foot-column > div{margin-top: 15px;}

.price-list-column{
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 25px;
  gap: 5px;
}

.foot-pdf-file{width: 135px;}

.download-price-list{
  font-size: 14px;
  line-height: 20px;
  color: #282F36CC;
}

.pdf-stats{
  font-size: 12px;
  line-height: 15px;
  color: #282F3680;
}

.conatacts-column div a{
  text-decoration: none;
  color: #1C294DCC;
}

.foot-email,
.foot-number{
  justify-content: flex-start;
  gap: 7px;
}

.footer-down{
  width: 1142px;
  height: 105px;
  margin-top: 45px;
  margin-left: 701px;
  justify-content: space-between;
  border-top: 1px solid #282F3626;
}

.footer-down:first-child{
  font-size: 14px;
  line-height: 20px;
  color: #1C294D80;
}
.footer-down:nth-child(2),
.footer-down:nth-last-child(1),
.footer-down:last-child{
  font-size: 14px;
  line-height: 20px;
  color: #1C294DCC;
}


/* Main style end */
/*---------------------------------------------------*/

/* Media start */

/* Desktop media */
@media screen and (max-width: 1367px) {
  .cart-count{
    top: 75px;
    right: 166px;
  }

  .header-above-items,
  .header-center-nav,
  .navbar-things-down,
  .grid-conteiner,
  .title-book-card,
  .first-book,
  .banner,
  .show-all-book,
  .grid-box-shop-inform,
  .footer-div,
  .grid-news-cards,
  .title-footer-items,
  .cart-count,
  .footer-down{
    margin-left: 113px;
  }
}
/* Desktop media */

/* Mobile media */
@media screen and (min-width: 376px){
  .mobile-header, 
  .mobile-main,
  .mobile-footer{
    display: none;
  }
}

@media screen and (max-width: 375px) {

  /* Mobile header style start */
  header, main, footer{display: none;}
  .mobile-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10px;
    width: 375px;
    height: 70px;
    margin-left: 1px;
    gap: 15px;
    border-bottom: 1px solid #ECECEC;
  }
  .molile-header img:first-child{
    width: 20px;
    height: 20px;
  }
  .mobile-basket img{
    width: 25px;
    height: 25px;
  }
  .mobile-header input{
    width: 195px;
    height: 40px;
    border-radius: 5px;
    padding-left: 15px;
    background-color: #F7F7F7;
    border: 0;
  }
  .cart-count{
    position: relative;
    left: 17px;
    top: 11px;
  }
  /* Mobile header style end */


  /* Slider */
  .slider{
    width: 355px;
    height: 175px;
    margin-left: 10px;
  }
  .slider-flexbox{
    margin-top: 10px;
    justify-content: center;
  }
  .slider-two-eq-tree{
    margin-top: 60px;
    align-items: flex-start;
    width: 82.85px;
    height: 36.16px;   
  }
  .slider-all-book{
    width: 82.81px;
    margin-top: 10px;
  }
  .slider-page-marker{margin-top: 40px;}
  /* Slider */     

  /* Book day */
  .book-day-card{
    width: 355px;
    height: 500px;
    border-radius: 5px;
    margin-left: 10px;
  }
  .book-day-card-header{
    padding-top: 20px;
    margin-top: 10px;
  }
  /* Book day */

  /* Banners */
  .first-mobile-banner{
    width: 355px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .second-mobile-banner{
    width: 355px;
    margin-top: 10px;
    margin-left: 10px;
  }
  /* Banners */

  /* Book cards */
  .title-book-card{
    width: 355px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .card-book{
    width: 355px;
    grid-template-columns: (2, 1fr);
    gap: 0;
  }
  .book{
    width: 176px;
    height: 540px;
  }
  .book img{margin-left: 26px;}

  .best-seller{
    width: 86px;
    height: 25px;
  }
  .book-card-promotion{
    width: 54px;
    height: 25px;
  }
  .book-card-items{
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 10px;
    gap: 5px;
  }
  .book-cor-law, 
  .book-title,
  .book-autor-name,
  .book-price,
  .book-raiting,
  .book-likes,
  .first-book{
    margin-left: 10px;
  }
  .book-raiting img, 
  .book-likes img{
    margin-left: 0;
  }
  .book-raiting, 
  .book-likes{
    margin-top: 10px;
  }
  .basket-button{
    width: 117px;
    height: 35px;
  }
  .bookmark-button{
    width: 35px;
    height: 35px;
  }
  .basket-button img,
  .bookmark-button img{
    margin-top: 0;
    margin-left: 0;
  }
  .show-all-book{
    width: 355px;
    margin-left: 10px;
  }
  /* Book cards */

/* Banner */
.banner{
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  width: 355px;
  height: 190px;
  margin-bottom: 10px;
  gap: 10px;
}
.banner-text{
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 10px;
  justify-content: flex-start;
}
.banner input{
  border: 0;
  width: 320px;
  height: 40px;
}
.banner button{
  width: 335px;
  height: 40px;
}
.banner-lil-orange-line{
  top: 20px;
  left: 60px;
}
/* Banner */

/* Shop inform */
.box-shop-inform{
  position: relative;
  margin-top: 10px;
  gap: 10px;
  margin-left: 10px;

}
.box{
  width: 355px;
  height: 170px;
  margin-bottom: 10px;
}
.box-text{
  width: 210px;
  font-size: 14px;
  line-height: 20px;
}
.fast-delivery img{
  width: 150px;
  height: 150px;
  margin-right: 200px;
}
.bonus-program img{
  width: 150px;
  height: 150px;
  margin-right: 210px;
}
.large-selection img{
  width: 150px;
  height: 150px;
  margin-right: 190px;
  margin-bottom: 20px;
}
.secure-pay img{
  width: 150px;
  height: 150px;
  margin-right: 200px;
}
/* Shop inform */

/* News cards */
.news-cards{
  width: 355px;
  height: 417px;
  margin-left: 10px;
  padding-top: 15px;
  background-color: white;
  border-top: 1px solid #1C294D26;
  border-bottom: 1px solid #1C294D26;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.read-button{width: 325px;}
/* News cards */

/* Mobile footer */
.mobile-social-icon{
  background-color: #1C294D0D;
  border-bottom: 1px solid #1C294D26;
  width: 100%;
  height: 80px;
}
.mobile-footer-input{
  height: 80px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1C294D0D;
  border-bottom: 1px solid #1C294D26;
}
.mobile-input input{
  width: 210px;
  height: 40px;
  border: 1px solid #282F3626;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  padding-left: 15px;
}
.mobile-input button{
  width: 50px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0;
  background-color: #FF5C00;
}
.footer-item{
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid #282F3626;
}
.footer-price-list{
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid #282F3626;
}
.mobile-inf{
  height: 85px;
  border-bottom: 1px solid #282F3626;

}
.mobile-inf div{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #1C294D80;
}
.footer-number,
.footer-email,
.footer-address,
.footer-publish{
  height: 60px;
  justify-content: flex-start;
  padding-left: 20px;
  gap: 5px;
  border-bottom: 1px solid #282F3626;
}
.footer-publish a{color: #1C294D80;}
/* Mobile footer */
}
  /* Mobile media */
/* Media end */